@import './animations.css';

body {
  margin: 0;
  perspective: 1000px;
}

.box, .front, .back, .left, .right, .bottom, .top {
  position: absolute;
  height: 100px;
  width: 100px;
  background: rgb(117, 65, 199);
  transition: all ease 1s;

  transform-style: preserve-3d;
}

.box {
  top: 300px;
  left: calc(50% - 50px);

  transform: rotateY(-10deg) rotateX(-20deg) rotateZ(5deg);

  -webkit-animation: spin linear 5s infinite;
  -webkit-animation-timing-function: cubic-bezier(.57, -0.46, .49, 1.47);
}

.top {
  bottom: 100px;

  background: rgb(100, 55, 180);

  transform-origin: bottom center;

  transform: rotateX(90deg);
}

.bottom {
  top: 100px;

  background: rgb(100, 55, 180);

  transform-origin: top center;

  transform: rotateX(-90deg);
}

.back {
  top: 100px;

  transform-origin: top center;

  transform: rotateX(-90deg);
}

.left {
  right: 100px;

  background: rgb(100, 55, 180);

  transform-origin: right center;

  transform: rotateY(-90deg);
}

.right {
  left: 100px;

  background: rgb(100, 55, 180);

  transform-origin: left center;

  transform: rotateY(90deg);
}
